body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #383838;
}
.top{
    background-color: #242424;
}
button{
    width: 30%;
    height: 6vw;
    transition: 0.3s;
    border: none;
    font-size: 3vw;
    background:none;
    color: rgb(99, 89, 89);
}
button:hover{
    transform: scaleY(1.1);
    background-color: rgba(68, 65, 65, 1);
}

.button-container{
    display: flex;
    gap: none;
    justify-content: center;
    align-items: center;
}

.title-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 7vw;
    margin-left: 5%;
    font-weight: 600;
    
}
.title-container img{
    width: auto;
    height: 100%;
}

p{
    margin-bottom: 5%;
}

.mainpart{
    color: rgb(95, 95, 95);
    font-size: 3vw;
    text-align: center;
    font-weight: 600;
}
.images{
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: cover;
}
.image-handler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}